import React, { FC } from 'react';
import './{{ pascalCase name }}.scss'

interface Props {
}

interface State {
}


export const {{ pascalCase name }}: FC = (props: Props) => {
    return (
        <div className="{{ kebabCase name }}-wrapper">hello {{ pascalCase name }}</div>
    );
};

export default {{ pascalCase name }};
