import React, { FC } from 'react';
import './{{ pascalCase name }}.scss'

export interface {{ pascalCase name }}Props extends HTMLAttributes<HTMLElement> {
}

export const {{ pascalCase name }}: FC<{{ pascalCase name }}Props> = (props: {{ pascalCase name }}Props) => {
    return (
    <div className="{{ kebabCase name }}-wrapper" {...props}>
        hello {{ pascalCase name }}
    </div>
    );
};

export default {{ pascalCase name }};
